
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% macro term_brand_logo(id=0) %}
{% if id == 1 %}
<img src={{ url_for('static', filename='MT4-logo.png') }} width="25" height="25" class="d-inline-block align-top" alt="mt4">
{% elif id == 2 %}
<img src={{ url_for('static', filename='mt5-logo.png') }} width="25" height="25" class="d-inline-block align-top" alt="mt5">
{% else %}
{{ id }}
{% endif %}
{% endmacro %}

{% block app_content %}
<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {{ wtf.quick_form(add_route_form,  button_map={'submit_button': 'primary'}) }}
{% endblock %}
