<!--templates/base.html-->
{% extends 'bootstrap/base.html' %}


{% block title %}
{% if title %}
{{ title }} -Drills
{% else %}
Trade Copier
{% endif %}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-dark bg-dark bg-ligh justify-content-between">
    <a class="navbar-brand" href="#">
        <img src={{ url_for('static', filename='v1.png') }} width="45" height="45" class="d-inline-block align-top" alt="">
        Trade Copier
    </a>
    <a class="nav-link" href="{{ url_for('main_blueprint.config') }}">{{ _("Home") }}</a>
    <span class="navbar-text">
        {{ _("Your status is: ") }}{{ session['customer_type'] }}
    </span>
    <span class="navbar-text">
        {% if session['customer_exp'] %}
        {{ _("Expires @") }} {{ session['customer_exp'] }}
        {% endif %}
    </span>
    <span class="navbar-text">
        {{ _("Terminal id") }} {{ session['terminal_id'] }}
    </span>
    <a class="nav-link" href="{{ url_for('main_blueprint.logout') }}">{{ _("Log Out") }}</a>
</nav>
{% endblock %}

{% block content %}
{% block app_content %}
{% endblock %}
<h5>&copy; Copyright 2021 by <a href="https://kancom.github.io">Andrey Kashirin</a></h5>
{% endblock %}
