{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}


{% block app_content %}
<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Field</th>
                    <th scope="col">Operator</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for row in expressions %}
                <tr>
                    <th scope="row">{{ row['nb'] }}</th>
                    <td>{{ row['type'] }}</td>
                    <td>{{ row['field'] }}</td>
                    <td>{{ row['operator'] }}</td>
                    <td>{{ row['value'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
